*{margin:0px; padding:0px}
img{ border:none}
body{ font:12px Arial, Helvetica, sans-serif; width:100%; background:#FFF }
a{ text-decoration:none; color:black;}
ul li{ list-style-type:none}
tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}

#header{ width:100%; height:60px; background:#f5f9fc}
#header_top{ width:1000px; height:60px; margin:0px auto; position:relative}


#conten{ width:1000px; height:auto; margin:0px auto}
#slile{ width:1000px; height:340px;}
#main{ width:1000px; height:auto; margin:0px auto; margin-top:10px;}
#left_main{ width:690px; height:auto; float:left;}
#right_main{ width:300px; height:auto; float:left; margin-left:10px;}
#support{ width:300px; float:left; margin-bottom:5px;}
#images{ width:300px; float:left; margin:10px 0px;}
#image_show{ width:288px; height:auto; border:1px solid #CCC; padding:5px}
#image_show img{ width:300px; height:300px;}
#adv{ width:301px; height:auto;float:left; border:1px solid #000}

#footer{ width:100%; height:148px; background:#10954b url(../images/footer.jpg) repeat-x}
#footer_center{ width:1000px; margin:0px auto; height:100%}
#footer_left{ width:800px; height:110px; float:left; padding-top:38px}
#footer_right{ width:200px; height:128px; float:left; padding-top:20px}
#footer_left p{ color:#FFF; font-size:13px; margin:5px 0px }
#footer_right a{ color:#FFF; float:left}
#footer_right p{ color:#FFF; margin-top:80px}

.cls{ clear:left;}
.header_logo{ position:absolute; top:0px; left:0px; z-index: 999;}
.header_menu{ width:800px; height:60px; float:left;margin-left:200px;}
.left_main{ width:690px;float:left; background:url(../images/line_center.png) bottom center no-repeat; margin-bottom:20px}
.title_left_main{ width:690px; float:left; background:url(../images/about_home_title.jpg) 0 3px no-repeat; text-transform:uppercase;color:#00923f; font-size:18px; text-indent:20px;}
.about_left_main{ width:670px; float:left; padding:0px 0px 10px 20px}

.header_menu ul li:hover ul li{ display:block}
.header_menu ul li a:hover{ color:#F00}
.header_menu ul li ul{  position:absolute; top:60px; z-index:999}
.header_menu ul li ul li a{ margin-left:5px;}
.menu_cap1{ position:relative; float:left;display:block; height:60px; line-height:60px; font-weight:bold;font-size:15px; padding:0px 19px;}
.cap2{ left:0px; border-radius:5px; border-bottom:1px solid #FFF; display:none; background:#093; width:200px; height:30px; line-height:30px}

.left_main_mid{ width:690px; float:left; background:url(../images/line_center.png) bottom center no-repeat;margin-bottom:20px}
/*.calendar{ width:338px; border:1px solid #CCC; border-radius:10px;margin:30px 5px 10px 0px; float:left}*/
.title_tructiep{ width:; heght:30px; line-height:30px; background:#00923f; color:#FFF; border-top-left-radius:10px; border-top-right-radius:10px; font-size:15px; text-transform:uppercase; text-indent:20px; margin-top:30px}
.show_tructiep{ width:318px; float:left; padding:10px }
.form_book{width: 200px;height: 30px;background: #e8e8e8;border: 1px solid #adadad; margin-bottom:8px;}

.left_main_bot{ width:690px; float:left; background:url(../images/line_center.png) bottom center no-repeat;margin-bottom:20px}
.left_main_bot_new{ width:670px; height:250px; float:left; padding:10px 0px 10px 20px}
.left_main_bot_new ul li{ margin-bottom:5px; font-weight:bold}
.left_main_bot_new a:hover{ color:#0F0}
.new_left{ width:440px; float:left; background:url(../images/news_home_first.jpg) right center no-repeat; padding-right:-10px;}
.new_right{ width:210px; float:left; margin-left:10px;}
.new_left_img{ width:200px; height:200px; float:left }
.new_left_new{ width:220px; height:200px; float:left; margin-left:10px; padding-right:10px; }
.new_left_new a{ color:#093; font-size:13px;}
.new_right_other{ width:210px; background:url(../images/news_home_other.jpg) 0px 6px no-repeat; text-indent:20px; margin:8px 0px}
.new_right_other a{ color:#093; font-weight:bold}
.new_right_link{ width:210px; float:left}

.title_right{ width:300px; height:28px; background:#00923f;line-height: 28px;text-indent: 10px;text-transform: uppercase;color: #fff;}
.support_conten{ background:url(../images/support.jpg) center no-repeat}
.bg_support_conten{width: 280px;margin: 0px auto;background: url(../images/img/bgr_support.png) repeat;border-radius: 10px;color: #fff;}
.adv_img img{ margin:5px 0px}

/* css cho trang chi phí */
.left_main_cp_title{ width:690px; height:auto;float:left; background:url(../images/about_home_title.jpg) 0 3px no-repeat; text-transform:uppercase; color:#00923f; font-size:18px; text-indent:20px;}
.left_main_cp_main{ width:670px; padding:10px; float:left}
/*-----End CP*/

/*CSS Đặt hẹn dathen.htlm*/
.left_main_dh_title{ width:690px; height:auto; float:left; background:url(../images/about_home_title.jpg) 0 3px no-repeat;text-transform:uppercase; color:#00923F; font-size:18px; text-indent:20px;}
.calender_dh{ width:338px; float:left; border:1px solid #999; margin-right:5px; margin-top:20px; border-radius:10px;}
.calender_dh_title{ width:338px; height:30px; line-height:30px; background:#00923f; color:#FFF; border-top-left-radius:8px; border-top-right-radius:8px; text-align:center; font-size:15px; text-transform:uppercase}
.show_dh{ width:318px; float:left; padding:10px;}
.calender_benhan{ width:670px; float:left; border:1px solid #999; margin-right:5px; margin-top:20px; border-radius:10px;}
/*-----End dathen*/

/*CSS đội ngũ bác sỹ bacsy.html */
.left_main_bacsy_title{width:690px; height:auto; float:left; background:url(../images/about_home_title.jpg) 0 3px no-repeat;text-transform:uppercase; color:#00923F; font-size:18px; text-indent:20px;}
.left_main_bacsy_main{ width:670px; float:left; padding:10px}
.left_main_bacsy_box{ width:650px; float:left; padding:10px; background:url(../images/line_center.png) bottom center no-repeat}
/*---end bacsy*/

/*CSS đội ngũ bác sỹ các khoa*/
.left_main_bacsy_khoa_title{width:690px; height:auto; float:left; background:url(../images/about_home_title.jpg) 0 3px no-repeat;text-transform:uppercase; color:#00923F; font-size:18px; text-indent:20px;}
.left_main_bacsy_khoa_main{ width:670px; float:left; padding:10px}
/*---end*/

/*---CSS gioithieu.html - lời giới thiệu*/
.left_main_gioithieu_title{ width:690px; height:auto; float:left; background:url(../images/about_home_title.jpg) 0 3px no-repeat;text-transform:uppercase; color:#00923F; font-size:18px; text-indent:20px; margin-bottom:20px}
/*---end Giới thiệu*/

/*---CSS cơ sở vật chất*/
.left_main_cosovatchat{ width:670px; float:left; padding:10px;}
/*---end cơ sở vật chất*/

/*---CSS camket*/
.left_main_camket{ width:670px; float:left; padding:10px;}
/*---end cam kết của chúng tôi*/

/*---CSS tintuc.html*/
.left_main_tintuc{ width:670px; float:left; padding:10px;}
.left_main_tituc_show{ width:660px; float:left; margin-left:10px; background:url(../images/line_center.png) bottom center no-repeat; margin-bottom:30px}
/*---end tin tức*/

/*---CSS tintuc-show.html*/
.left_main_tituc_view{ width:660px; float:left; margin-left:10px; background:url(../images/line_center.png) bottom center no-repeat; margin-bottom:30px}
/*---end tin tức*/

/*---CSS dịch vụ*/
.left_main_gioithieu_list{ width:670px; float:left; background:url(../images/line_center.png) bottom center no-repeat; padding:10px}
/*--- end css dịch vụ*/
/*nivo====================*/

.theme-default #slider {height: 325px!important;overflow: hidden;z-index: 6;}
.theme-default .nivoSlider {position: relative;background: #fff url(../images/nivo_loading.gif) no-repeat 50% 50%;z-index: 2;}
.theme-default .nivoSlider img {position: absolute;top: 0;left: 0;display: none}
.theme-default .nivoSlider a {border: 0;display: block}
.theme-default .nivo-controlNav {position: absolute;right: 10px;bottom: 5px;margin-left: -40px;_display: none;}
.theme-default .nivo-controlNav a {display: block;width: 16px;height: 22px;background: url(../images/nivo_bullets.png) no-repeat;border: 0;margin-right: 3px;float: left;color: black;text-decoration: none;}
.theme-default .nivo-controlNav a.active {background-position: 0 -21px;}
.theme-default .nivo-directionNav a {display: block;width: 30px;height: 54px;background: url(../images/nivo_arrows.png) no-repeat;text-indent: -9999px;border: 0}
.theme-default a.nivo-nextNav {background-position: -30px 0;right: 15px;}
.theme-default a.nivo-prevNav {left: 15px;}
.theme-default .nivo-caption {font-family: Helvetica, Arial, sans-serif}
.theme-default .nivo-caption a {color: #fff;border-bottom: 1px dotted #fff}
.theme-default .nivo-caption a:hover {color: #fff}
.nivoSlider {position: relative}
.nivoSlider img {position: absolute;top: 0;left: 0}
.nivoSlider a.nivo-imageLink {position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 0;z-index: 6;display: none;margin: 0;padding: 0}
.nivo-slice {display: block;position: absolute;z-index: 5;height: 100%}
.nivo-box {display: block;position: absolute;z-index: 5}
.nivo-caption {position: absolute;left: 0;bottom: 0;background: #000;color: #fff;opacity: 0.8;width: 100%;z-index: 8}
.nivo-caption p {margin: 0;padding: 5px}
.nivo-caption a {display: inline!important}
.nivo-html-caption {display: none}
.nivo-directionNav a {position: absolute;top: 45%;z-index: 9;cursor: pointer}
.nivo-prevNav {left: 0}
.nivo-nextNav {right: 0}
.nivo-controlNav a {position: relative;z-index: 9;cursor: pointer}
.nivo-controlNav a.active {font-weight: 700}
.hbanner-live {float: left;width: 1000px;}
.nivo-controlNav a {background-image: url("../images/bullets-sprite.png") !important;background-position: 0px 0px !important;color: #FFFFFF;display: block;float: left;font: bold 12px/21px arial;height: 23px;text-align: center;margin: 0 2px;text-decoration: none;width: 22px !important;display: inline-block;*display: inline;cursor: pointer;z-index: 9;position: relative;line-height: 23px;}
.nivo-controlNav a.active {background-position: -31px 0px !important;color: #053865;}
/*------------------------ End nivo ----------------------*/