

/* ********************************************************************************************
    Blog
*********************************************************************************************** */

.postWrapper {
    clear: both;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.col-main > .page-title + #messages_product_view + .postWrapper{margin-top: 0px;margin-bottom: 20px;}
.postTitle h3{text-transform: uppercase;}
.postTitle h4 {
    margin: -5px 0 10px;
    font-size: 12px;
    line-height: 1.4545em;
}

.postContent {
    padding-bottom: 10px;
    margin: 0px;
    padding: 0px;
}
.postContent p{
    margin-bottom: 10px;
}
.postContent.feature img{
}

.postDetails {
    padding: 10px 0px 0px;
}
.postDetails a{
    color: #F33636;
    margin-right: 5px;
}
.postDetails a:hover,
.postContent a.aw-blog-read-more:hover{
    text-decoration: underline;
}

/* .postContent a.aw-blog-read-more{
    color: #F33636;
} */
.postBookmarks {
    padding-bottom: 10px;
}

.postBookmarks h4 {

    font-size: 12px;
    font-weight: bold;
}

.commentWrapper {
    padding-bottom: 15px;
    border: 2px dotted #E4E4E4;
    padding: 15px;
    margin: 20px 0px 30px;
}

.commentContent {
    padding-bottom: 0px;
    line-height: 20px;
}

.commentDetails {
    margin-bottom: 5px;
    padding: 0px;
}

.commentDetails h4.username {
    display: inline;
    color: #F33636;
}

.postError {
    font-size: 16px;
}

.postContent .tags {
    font-weight: bold;
    padding-top: 10px;
}

.tags UL {
    display: inline;
}

.tags UL LI {
    font-weight: normal;
    display: inline;
    padding: 0 2px;
}

.tags h4 {
    font-size: 12px;
    font-weight: bold;
}

.menu-tags, .menu-categories, .menu-recent {
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {
    font-size: 11px;
}

.block-blog .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}



.tagcloud {
    /* text-align:center; */
}

.tag-count-1 {
    font-size: 1em !important;
}

.tag-count-2 {
    font-size: 1.2em !important;
}

.tag-count-3 {
    font-size: 1.4em !important;
}

.tag-count-4 {
    font-size: 1.6em !important;
}

.tag-count-5 {
    font-size: 1.8em !important;
}

.tag-count-6 {
    font-size: 2em !important;
}

.tag-count-7 {
    font-size: 2em !important;
}

.tag-count-8 {
    font-size: 2em !important;
}

.tag-count-9 {
    font-size: 2em !important;
}

.tag-count-10 {
    font-size: 2em !important;
}

.block-blog .head h4 {
    padding-left: 20px;
}

.block-blog .block-title strong {
}

.postWrapper .poster {
    display: inline;
}

.input-box.aw-blog-comment-area {
    width: 100%;
}

.widget-latest li {
    font-size: 12px;
    padding: 5px 10px;
}

.block-blog .menu-categories {
}
.block-blog .view:last-child{
    margin-bottom: 0px;
}
A.awblog_current_comment {
    text-decoration: none !important;
    font-weight: bold !important;
}

#postComment .input-box{margin-bottom: 20px;}
#postComment .buttons-set{margin-top: 0px;}
.postContent .img-box {width: 50%;}
.widget-latest .peer-wrapper .img-box,
.grid-col2-main .widget-latest .peer-wrapper .img-box{width: auto;margin-right: 0px;float: none;max-width: none;}
.widget-latest .heading{font-size: 15px;text-transform: uppercase;}